@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),
       url(../fonts/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"),
       url(../fonts/fontawesome/webfonts/fa-solid-900.woff) format("woff"),
       url(../fonts/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"),
       url(../fonts/fontawesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: FontAwesomeRegular;
  src: url(../fonts/fontawesome/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),
       url(../fonts/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"),
       url(../fonts/fontawesome/webfonts/fa-regular-400.woff) format("woff"),
       url(../fonts/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"),
       url(../fonts/fontawesome/webfonts/fa-regular-400.svg#fontawesome) format("svg");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: FontAwesomeSocial;
  src: url(../fonts/fontawesome/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),
       url(../fonts/fontawesome/webfonts/fa-brands-400.woff2) format("woff2"),
       url(../fonts/fontawesome/webfonts/fa-brands-400.woff) format("woff"),
       url(../fonts/fontawesome/webfonts/fa-brands-400.ttf) format("truetype"),
       url(../fonts/fontawesome/webfonts/fa-brands-400.svg#fontawesome) format("svg");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/* New Font Zabal */
            
@font-face {
    font-family: 'zabal_demoregular';
    src: url('../assets/fonts/zabal/zabaldemo-ultraitalic-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-ultraitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'zabal_demoultra';
    src: url('../assets/fonts/zabal/zabaldemo-ultra-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zabal_demothin_italic';
    src: url('../assets/fonts/zabal/zabaldemo-thinitalic-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zabal_demoultra_italic';
    src: url('../assets/fonts/zabal/zabaldemo-thin-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zabal_demosemibold_italic';
    src: url('../assets/fonts/zabal/zabaldemo-semibolditalic-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zabal_demosemibold';
    src: url('../assets/fonts/zabal/zabaldemo-semibold-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zabal_demoregular';
    src: url('../assets/fonts/zabal/zabaldemo-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zabal_demomedium_italic';
    src: url('../assets/fonts/zabal/zabaldemo-mediumitalic-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'zabal_demomedium';
    src: url('../assets/fonts/zabal/zabaldemo-medium-webfont.woff2') format('woff2'),
        url('../assets/fonts/zabal/zabaldemo-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 10, 2022 */



@font-face {
    font-family: 'latohairline_italic';
    src: url('lato-thinitalic-webfont.woff2') format('woff2'),
         url('lato-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline';
    src: url('lato-thin-webfont.woff2') format('woff2'),
         url('lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('lato-lightitalic-webfont.woff2') format('woff2'),
         url('lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('lato-italic-webfont.woff2') format('woff2'),
         url('lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('lato-bolditalic-webfont.woff2') format('woff2'),
         url('lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.woff2') format('woff2'),
         url('lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack_italic';
    src: url('lato-blackitalic-webfont.woff2') format('woff2'),
         url('lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack';
    src: url('lato-black-webfont.woff2') format('woff2'),
         url('lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 latolight;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.fab{
    display:inline-block;
    font:normal normal normal 14px/1 latobold_italic;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.far{
    display:inline-block;
    font:normal normal normal 14px/1 latolight_italic;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.fa-fw{
    width:1.28571429em;
    text-align:center
}
// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@media (min-width: 1200px){
  .container{
    max-width:1170px;
  }
}

@media (min-width: 1400px){
  .container{
    max-width:1320px;
  }
}

@media (max-width: 767px){
  .container{
    max-width:100% !important;
  }
}
@import "icon-list";
html{
  font-size:14px;
  line-height: 1.2;
}
body {
  padding: 0;
  color:#595959;
  font-family: latoregular;
}
h1{
  font-size: 48px;
  line-height: 56px;
  &.big{
    font-size: 56px;
    line-height: 64px;
  }
}
h2{
  font-size: 32px;
  line-height: 40px;
}
h3{
  font-size: 28px;
  line-height: 36px;
}
h4{
  font-size: 26px;
  line-height: 36px;
}
h5{
 font-size: 22px;
  line-height: 30px;
}
h6{
  font-size: 19px;
  line-height: 27px;
}
p{
  font-size: 16px;
  line-height: 26px;
}
h2,p {
  font-family: zabal_demoregular;
}
.navbar{
  .container{
    display: block;
  }
}
// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.lh-1-3{
  line-height: 1.3 !important;
  @media (min-width: 768px) {
    line-height: auto;
  }
}
.py-6 {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
}
.pt-6{
  padding-top: 4rem!important;
}
.pb-6{
  padding-bottom: 4rem!important;
}
.py-7 {
  padding-top: 4.5rem!important;
  padding-bottom: 4.5rem!important;
}
.pt-7{
  padding-top: 4.5rem!important;
}
.pb-7{
  padding-bottom: 4.5rem!important;
}
.py-8{
  padding-top: 6rem!important;
  padding-bottom: 6rem!important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-light {
  .navbar-brand {
    padding: 0;
    margin: 0;
    @media(max-width: 576px){
      max-width: 60%;
      img{
        width: 100%;
        height:46px;
      }
    }
  }
}
.top-noti-bar{
  display: flex;
  .close-btn{
    position: absolute;
    right: 3%;
    font-size: 21px;
    top: 20px;
  }
  @include media-breakpoint-down(md){
    p{
      font-size: 13px;
      padding: 5px 5px 0 5px;
      line-height: 18px;
    }
    .close-btn{
      font-size: 16px;
    }
  }
}
.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
  position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
  width: 97%;
  top: auto;
  left: 1.5%;
}
.mega-content .list-group a:hover {
  text-decoration: underline;
  color: #ffc122 !important;
}
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 11;
  float: right;
}
.navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #333;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  transform-origin: 50% 50%;
  transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}

.navbar-nav{
  &>.nav-item{
    position: relative;
    transition: .2s all ease-in-out;
    &:first-child{
      &:hover::after{
        display: none;
      }
    }
    &:hover{
      &::after {
        content: '';
        width: calc(100% - 20px);
        height: 3px;
        background-color: #26a2de;
        position: absolute;
        bottom: -9px;
        left: 10px;
      }
    }
    &>.nav-link{
      color: #595959;
      transition: .2s all ease-in-out;
      &:hover{
        color: #337ab7;
        &::before{
          content:''

        }
      }
    }
  }
}
.icons {
  display: inline-flex;
  margin-left: auto;
}
.icons a {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem 0.4rem;
  color: #ccc !important;
  text-decoration: none;
}
.icons a:hover {
  color: white;
  text-shadow: 0 0 30px white;
}

.px-7{padding-left: 5rem;padding-right: 5rem;}
.green-line{
  background: #7fbf28;
  height: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}
.border-bottom-green{
  border-bottom: 1px solid #45b851;
}
.border-green{
  border: 2px solid #45b851;
}
.border-top-green{
  border-top: 1px solid #45b851;
}
.bg-blue{
  background-color: #26a2de;
  &.dark{
    background-color: #4873b7;
  }
}
.bg-red{
  background-color: #D35151;
}
.bg-gray{
  background-color: #eee;
  &.light{
    background-color: #f4f4f4;
  }
}
.bg-green{
  background-color: #7fbf28;
}
.bg-theme-green{
  background-color:#23cc23;
}
.bg-accordion{
  background-color: #E3E9DC;
}
.text-green{
  color:#7fbf28
}
.text-blue{
  font-size: 28px;
  line-height: 36px;
  color:#2baf38;
}
.rounded-7{
  border-radius: 14px;
}
.bg-kids{
  background-image: url('../../assets/images/baby-carpet-cleaning.jpg');
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
  min-height: 472px;
  @media(min-width: 1240px) and (max-width: 1400px){
    background-position-x: -100px;
  }
  @media(min-width: 1200px) and (max-width: 1239.98px){
    background-position-x: -125px;
  }
  @media(min-width: 991px) and (max-width: 1200px){
    background-position-x: -180px;
  }
}

/* ------------------ banner --------*/
h3 {
  font-size: 32px;
  line-height: 40px;
}
.top-phone {
  margin-top: 8px;
  & .myphone {
    text-align: center;
    color: #26a2de;
    text-decoration: none;
    h3{
      @include media-breakpoint-down(md){
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
  & .phone_numb_inner {
    text-align: center;
    & .opening {
        display: block;
        font-size: 12px;
        color: #7fbf28;
        margin: auto;
        padding-left: 7px;
    }
  }
}
@media all and (min-width: 992px) {
    .navbar-nav{
      .nav-item {
        .dropdown-menu{ display: none; margin-top:0;}
        &:hover{
          .nav-link{   }
          .dropdown-menu{ display: block; }
        }
      }
    }
}
.banner{
  position: relative;

  img{
    width:100%;
  }
  & h1.big{
    @include media-breakpoint-down(lg){
      font-size: 42px;
      line-height: 48px;
    }
  }
  .heading-text h4 {
    @include media-breakpoint-down(lg){
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 768px) {
    height: 370px;
    text-align: center;
    & img{
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    & h1.big{
      font-size: 32px;
      line-height: 32px;
      padding-top: 32px;
    }
    & h4{
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 5px;
      margin-top: 15px;
    }
  }
  & .banner-content{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    .btn{
      @include media-breakpoint-down(lg){
        padding: 12px 20px;
        font-size: 16px !important;
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
}

.lg-backdrop{
  background-color: transparentize(#000, 0.2) !important;
}
.gallery-set{
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
  &:after{
    content: "\f00e";
    font-family: latoregular;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: calc(50% - 30px);
    font-size: 26px;
    color: #fff;
    opacity: 0;
    transition: .3s all ease-in-out;
  }
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}
#reviews {
  & .review {
    margin-bottom: 32px;
    & .time {
      display: none;
    }
    &.style-2{
      display: flex;
      flex-direction: column;
      .profile{
        margin-bottom: 10px;
      }
    }
    & .person {
      float: left;
      margin-right: 10px;
      height: 40px!important;
      width: 40px!important;
      border-radius: 50%;
    }
    & .title {
      display: block;
      text-align: left;
      font-size: 120%;
    }
    & .stars{
      color: #ffc122;
      display: block;
      text-shadow: 1px 1px 1px grey;
      text-align: left;
    }
    & .text{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 90%;
    }
  }
}

.text-info {
  & h1 {
    font-size: 52px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #fff!important;
    font-weight: 600;
    & a{
      text-decoration: none;
    }
  }
}
.accordion-button{
  &::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
}


/*----------- slider -------*/

.slick-prev, .slick-next {
  position: absolute;
  top: 135%;
  font-size: 1.8rem;
  z-index: 3;
  cursor: pointer;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slide {
    transition: filter .4s;
    margin: 0px 40px;
}

.fas {
    color: #96bd0b;
}
.slick-prev {
    left: 0;
}
.slick-prev, .slick-next {
    position: absolute;
    top: 35%;
    font-size: 1.8rem;
}
.slick-track .slick-slide {
  display: flex;
  height: 145px;
  justify-content: center;
  & img{
    display: flex;
    align-self: center;
  }
}
#footer {
  background: #1f1f1f;
  padding-top: 72px;
  padding-bottom: 72px;
}

#footer .social-icons li {
  display: inline-block;
  list-style: none;
  padding-right: 9px;
}
ol li, ul li {
  color: #595959;
  line-height: 32px;
  font-weight: 400;
}
#footer .social-icons {
  margin: 0;
  padding-top: 20px;
  padding-left: 13px;
}
#footer ul {
  padding: 0;
}
ul {
  list-style: none;
  display: block;
}
a, a.highlight:hover {
  color: #595959;
}
#footer .review-logo, #footer .trade-logo {
  width: 200px;
  height: auto;
  padding-top: 30px;
  padding-left: 14px;
}

#footer .quick-links {
  @include media-breakpoint-down(md){
    padding-top: 35px;
  }
  h6 {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 14px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
    border-bottom: 2px solid #5a4e4e73;
    position: relative;
  }
}
#footer .quick-links h6::before {
  content: '';
  width: 3px;
  height: 6px;
  border-left: 2px solid #5a4e4e73;
  position: absolute;
  bottom: -8px;
  @media (max-width: 768px) {
    left:0
  }
}
#footer .quick-links li a {
  color: #e5e5e5;
  font-size: 15px!important;
  font-weight: 300!important;
  text-decoration: none;
  &:hover{
    color: #7fbf28;
  }
}

ul.links li {
  color: #fff;
}

#copyright {
  background: #000;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  position: relative;
}
#copyright .copylink {
  margin-bottom: 10px;
  padding: 0;
}
#copyright p {
  font-size: 12px;
  color: #fff;
}
#copyright .copylink li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #7fbf28;
  }

}
#copyright span.vertical-border {
  border-right: 1px solid #fff;
  display: inline-block;
  height: 1em;
  margin-left: 19px;
  margin-right: 14px;
  vertical-align: middle;
}
#copyright .copylink li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  margin-top: -5px;
}
.callback-desktop-only {
  .request-form-header{
    font-size: 110%;
    padding: 12px 16px;
    color: #fff;
    background-color: #2baf38;
  }
  .request-form-holder {
    padding: 10px;
    .mb-2 {
      margin-bottom: 16px !important;
    }
    label {
      color: #424251;
      font-weight:700;
    }
    input{
      display: block;
      border: 1px solid #424251;
      min-width: 100px !important;
      width: 100%;
      max-width: 100%;
      color: #333;
      padding: 6px 12px;
      border-radius: 48px;
      background: rgba(240,255,240,.1);
      &:focus {
        border: 1px solid #060;
        color: #060;
        background: rgba(240,255,240,.9);
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 12px;
      min-height: 36px;
      background-color: #2baf38;
      color: #fff;
      border-radius: 48px;
    }
  }
}
.need-cc {
  margin-top: 2%;
}
#white-bg h4 {
  color: #7fbf28;
  font-size: 26px;
  text-align: center;
}
#white-bg .input-fields {
  padding-top: 5px;
}


#white-bg .text-phone {
    width: 100%;
    padding: 16px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    font-weight: 500;
}
.wpcf7-form-control.wpcf7-submit.btn-submit {
  width: 100%;
  background: #7fbf28;
  color: #fff;
  padding: 16px;
  margin-left: -2px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}
#offering-services ul {
  display: inline-block;
  padding: 0;
  img{
    @include media-breakpoint-down(md){
      width: 50px;
      height: 50px;
    }
  }
  li {
    list-style: none;
    &>h6 {
      font-weight: 400;
      padding-left: 20px;
      margin: 0;
      padding-bottom: 32px;
      @media(max-width: 576px){
        padding-left: 10px;
        padding-bottom: 25px;
        font-size: 18px;
        line-height: 1.8;
        position: relative;
        top: 3px;
      }
    }
  }
}

#offering-services .offer-1 h6, #offering-services .offer-2, #offering-services .offer-2 h6 {
  display: inline-block;
}
.col.heading-text {
  padding-bottom: 25px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.callnow-btn {
  padding: 15px 35px;
  border-radius: 50px;
  background-color: red;
  color: #fff;
  font-size: large!important;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 6px;
  transition: .2s;
  @media(max-width: 576px) {
    padding: 10px 20px;
    font-size: 14px !important;
  }
}
.col-md-4.right-image {
  text-align: center;
  @media (max-width: 768px) {
    & img{
      max-width: 300px;
      max-height: 160px;
    }
  }
}
.callback-desktop-only {
  display: none;
  z-index: 9999;
}
.ajax-loader {
  display: none;
}
.offer-call {
  position: relative;
  top: -10px;
  padding: 15px 60px;
  width: auto;
}
button.accordion-button.text-white.fw-bold {
  background-color: #23cc23;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.emailnow-btn {
  padding: 15px 35px;
  border-radius: 50px;
  background-color: green;
  color: #fff;
  font-size: large!important;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 6px;
  transition: .2s;
  @media(max-width: 576px) {
    padding: 10px 20px;
    font-size: 14px !important;
  }
  &:hover {
    background: linear-gradient(to right,green,#006400)!important;
    filter: drop-shadow(0 0 4px #000);
  }
}
.banner-content-info{
  display: flex;
  align-items: flex-end;
  padding-bottom: 80px;
  @media (max-width: 1366px) {
    padding-bottom: 35px;
  }
}
h1.big {
  color: #2baf38;
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  max-width: 99%;
}
.btn {
  display: inline-block;
}
.callnow-btn:hover {
  background: linear-gradient(to right,red,#8b0000)!important;
  filter: drop-shadow(0 0 4px #000);
}
.btn:hover {
  background: #3b3b3b;
  color: #fff;
  outline: 0;
}

.heading-text h4{
  font-weight: 500;
  color: #fff;
  margin-bottom: 37px;
  max-width: 99%;
  min-height: 36px;
}
.heading-text h4 {
  text-shadow: 0 0 5px #000000cc;
    -moz-transform: matrix(1.00026928702301,0,0,1.00155014379581,0,0);
    -webkit-transform: matrix(1.00026928702301,0,0,1.00155014379581,0,0);
    -ms-transform: matrix(1.00026928702301,0,0,1.00155014379581,0,0);
}
nav.navbar.navbar-expand-lg.shadow.border-bottom-green {
  background-color: #fff;
}

// Ba Slider
.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display:block;
}

.ba-slider .resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.handle {
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.handle:after {
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;

    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3),
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.handle.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:50px;
    font-size:30px;
}

@media (max-width: 767px){
#footer {
    text-align: center;
}
.px-7 {
  padding-left: 1rem;
  padding-right: 1rem;
}
}
@media (min-width:768px) {

}
@media (min-width:1025px) {
    .callback-desktop-only {
      display: inline-block;
      background-color: #fff;
      position: fixed;
      right: 24px;
      bottom: 24px;
      width: 248px;
      height: 286px;
      box-shadow: 0 0 4px #222;
  }
  .need-cc {
    padding-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div#callback-request-submit {
    width:  1170px !important
    /* margin: 0% 8%; */
  }
}


#modal-window #ouibounce-modal {
  top: 100px!important;
}
.modal-content {
  padding: 24px;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  box-shadow: 0 3px 5px #0000004d;
  background-clip: padding-box;
  outline: 0;
  font-family: latoregular,"Apercu Bold",helvetica,arial,sans-serif;
}
@media (min-width: 768px){
  .modal-content {
      box-shadow: 0 5px 15px #00000080;
  }
}
.modal-header {
  display: none;
  padding: 20px 15px;
  background-color: #00b0d8;
  border-bottom: 0 solid #e5e5e5;
  min-height: 16.43px;
}
.exitblack, .learnmore, .modal-footer .submitemail, .submitemail, .yes {
  background-color: #7fbf28!important;
  color: #fff;
  border: none!important;
  cursor: pointer;
  letter-spacing: 0;
  text-transform: none;
}
.modal-footer {
  padding: 5px 20px 0;
  text-align: center;
  justify-content: center;
  & .btn-wrap {
    display: flex;
    justify-content: center;
    & button {
      margin-right: 14px;
      margin-left: 17px;
      width: 180px;
      padding: 10px 5px;
      border-radius: 2px;
      cursor: pointer;
      text-align: center;
      border-left: 0!important;
    }
    @include media-breakpoint-down(md){
      flex-direction: column;
      button {
        margin-bottom: 10px;
      }
    }
  }
}
.popup-heading {
  font-size: 34px;
  line-height: 26px;
  margin-top: 30px;
}
.separator {
  margin-top: 25px!important;
  margin-bottom: 25px!important;
  border: 2px solid #d6d6d6;
  width: 25%;
  margin: 0 auto;
}
.popup-text {
  color: #7fbf28;
  font-size: 27px;
  line-height: 31px;
}

button.close {
  background: #4873b7;
}
.option-big, .option-small, .option-submit {
  font-family: latoregular,"Apercu Bold",Calibri,sans-serif;
}
.option-big {
  font-size: 24px;
}
.modal-footer span {
  padding: 4px;
}
.option-small {
  font-size: 16px;
}
#nothankstext {
  display: block;
  margin: 22px 0 0;
  font-style: italic;
}
.hours, .nothanks {
  font-size: 14px;
  text-align: center;
}
.hours {
  color: #7fbf28;
}
.af-textWrap .text, .modal-footer input {
  padding: 14px;
  width: 74%;
  font-size: 16px;
}

#modal_yes input {
  text-align: center;
  color: #595959;
  border-radius: 5px;
  border: 1px solid #c5c2c2;
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
  width: 74%;
}
button.modal-button {
  width: 74%;
  border-radius: 5px;
  padding: 12px;
}
#nothankstext {
  display: block;
  margin: 22px 0 0;
  font-style: italic;
}
.nothanks {
  cursor: pointer;
  color: #959595;
  text-decoration: underline;
}
.callback-desktop-only {
  display: none;
  transition: .2s;
  @media (min-height: 420px) and (min-width: 1024px){
    display: inline-block;
    background-color: #fff;
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 248px;
    height: 286px;
    box-shadow: 0 0 4px #222;
    z-index: 999;
  }
}
.myphone-mobile-only {
  display: none;
  @media (max-width: 786px){
    display: inline-block;
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 96px;
    height: 96px;
    text-decoration: none;
    border-radius: 48px;
    overflow: hidden;
    z-index: 99999;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 576px){
    width: 80px;
    height: 80px;
  }
}

//---------------------------------- Service Styles
#rating{
  margin-top: -5px;
}
.cta-bar a{
  color:#fff;
  &:hover{
    color:#fff;
  }
}
.service-list-col{
  ul{
    column-count: 2;
    width: 100%;
    @media (max-width: 576px){
      column-count: 1;
      margin-bottom: 30px;
    }
    li{
      margin-bottom: 30px;
      @media (max-width: 576px){
        margin-bottom: 20px;
      }
      a{
        margin-left: 15px;
        font-weight: 400;
        font-size: 19px;
        line-height: 27px;
      }
    }

  }
}

#top-banner{
  min-height: 590px;
  overflow: hidden;
  img{
    width: 100%;
  }
  &.short-header{
    min-height: 190px;
    display: grid;
    place-content: center;
    @include media-breakpoint-down(md){
      min-height: 100px !important;
      max-height: 100px !important;
    }
    img{
      @include media-breakpoint-down(md){
        height: 100px;
      }
    }
    .banner-content {
      bottom: 0 !important;
      height: 100%;
      .container,.heading-text{
        height: 100%;
      }
      .heading-text {
        display: grid;
        place-content: center;
        h1 {
          color:2baf38;
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 0;
          padding: 0;
          font-family:latoregular;
          @include media-breakpoint-down(md){
            font-size: 30px;
            line-height: 34px;
            padding-bottom: 10px;
          }
        }

      }
    }
  }
  .banner-content {
    left: 0;
    bottom: 0;
    .heading-text{
      h1{
        color: #7fbf28;
        padding-top: 276px;
        font-size: 62px;
        font-weight: 600;
        font-family: latoregular;
        padding-bottom: 48px;
        text-shadow: 0 0 36px #fbfbfb;
        filter: drop-shadow(2px 4px 6px #fff);
        @media(max-width: 576px) {
          font-size: 40px;
          line-height: 1.2;
        }
        span.blue {
          color: #4873b7;
        }
      }
      h4{
        @media(max-width: 576px) {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
    .feature-bullets {
      ul{
        li {
          color: #fff;
          font-size: 28px;
          font-family: latoregular;
          background: url(/assets/icons/circle-tick-icon-1.png) no-repeat left center;
          margin: 5px 0;
          padding-left: 1.8em;
          background-size: contain;
          text-shadow: 0 0 4px #222;
          filter: drop-shadow(0 0 8px #222);
          @include media-breakpoint-down(md){
            font-size: 18px;
            padding-left: 40px;
            background-size: 25px;
            line-height: 21px;
            margin-bottom: 10px;
          }
        }
      }
    }
    #formid {
      display: flex;
      input[type=text] {
        border: none;
        height: 60px;
        min-width: 331px;
        outline: 0;
        padding-left: 20px;
        border-radius: 3px;
        text-transform: uppercase;
        margin-right: 4px;
        &.typingField{
          text-transform: capitalize;
        }
      }
      .singlecarpet-btn{
          margin: 0 3px;
          font-weight: 700;
          font-size: 20px;
          width: 200px;
      }
    }
  }
  &.free-quote{
    .banner-content {
      top: 0;
    }
    h2{
      @include media-breakpoint-down(md){
        font-size: 38px;
        line-height: 48px;
      }
    }
  }
  img{
    @media(max-width: 768px) {
      height: 590px;
      object-fit: cover;
    }
  }
}
.nyc-carpet-cleaning {
  #top-banner{
    @include media-breakpoint-down(md){
      .heading-text h1 {
        font-size: 40px !important;
        line-height: 40px !important;
        padding-bottom: 15px !important;
        text-shadow: unset;
        filter: unset;
      }
      #formid{
        flex-direction: column !important;
        input{
          margin-bottom: 15px !important;
        }
        .btn{
          margin-left: 0 !important;
        }
      }
    }
  }
}
.gallery-images{
  /*overflow: hidden;*/
  padding-left: 36px;
  padding-right: 36px;
  .news-thumb *{
    height: 100% !important;
    width: 100% !important;
  }
  .news-thumb {
    img{width:100% !important;}
  }
}
img{
  &.lazy {
    /* optional way, set loading as background */
    //background-image: url('../images/logo/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
.beforeAfterContainer {
  position: relative;
  width: 100%;
  border: 2px solid white;
  overflow: hidden;
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 900px 100%;
  }
  .bslider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.3);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: rgba(242, 242, 242, 0.1);
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 6px;
      height: 570px;
      background: white;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 6px;
      height: 570px;
      background: white;
      cursor: pointer;
    }
  }
  .slider-button {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      padding: 3px;
      display: inline-block;
      border: solid #5D5D5D;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
    }
    &:before {
      content: "";
      padding: 3px;
      display: inline-block;
      border: solid #5D5D5D;
      border-width: 0 2px 2px 0;
      transform: rotate(135deg);
    }
  }
}
#offering-services{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #eee;
}
.services-items{
  .item {
    padding: 18px;
    margin-bottom: 48px;
    text-align: center;
    .top-holder {
      padding: 24px;
      position: relative;
    }
    .heading {

      margin-top: 16px;
      margin-bottom: 16px;
      color: #7fbf28;
    }
    p {
      padding-bottom: 8px;
      font-weight: 400;
      padding-right: 0;
      width: 100%;
      color:#595959;
    }
  }
}
#call-us {
  h5 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
  }
  h2 {
    font-size: 52px;
    line-height: 56px;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 600;
    @media(max-width: 576px){
      font-size: 48px;
      line-height: 50px;
    }
  }
  p {
    width: 51%;
    margin: 24px auto 0;
  }
}
//--------------------------------------------------- Service Area
#featured {
  padding: 25px 0 30px;
  text-align: center;
  background-color: #E6E6E6;
  img {
    margin: 20px auto;
    max-width: 70%;
    transition: .2s all ease-in;
    filter: brightness(0.2);
    @media(max-width: 576px){
      max-width: 80%;
      height: 56px;
    }
  }
  .featured-title {
    font-size: 32px;
    padding-left: 18px;
    color: #A1A1A1;
    text-align: center;
    line-height: 40px;
    position: relative;
    font-family: latoregular;
    font-weight: 700;
    &:before,&:after{
      content: '';
      position: absolute;
      top: 19px;
      height: 5px;
      background-color: #B8B8B8;
    }
    &:before{
      width: calc(50% - 80px);
      left: 0;
    }
    &:after{
      width: calc(50% - 99px);
      right: 0;
    }
  }
  .top-margin {
    border-bottom: 5px solid #B8B8B8;
  }
  @media(max-width:768px){
    .featured-title {
      font-size: 24px;
    }
    .featured-title:before {
      width: calc(50% - 65px);
    }
    .featured-title:after {
      width: calc(50% - 82px);
    }
  }
}
.area-detail {
  .inner-heading {
    background: #4873b7;
    padding: 10px 0 10px 40px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 20px;
    h5 {
      font-size: 22px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 0;
      a{
        color:#fff;
      }
    }
  }
  .outer-detail {
    border: 1px solid #4873b7;
    padding: 23px;
    margin-bottom: 48px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    background: #fff;
    display: flex;
    h6 {
      font-size: 18px;
      @include media-breakpoint-between(md, lg) {
          display: flex;
          margin-bottom: 20px;
      }
      i {
        padding-right: 20px;
        font-size: 14px;
      }
      a {
        font-size: 16px;
        line-height: 20px;
        color:#595959;
        &:hover {
          color: #7fbf28;
        }
      }
    }
  }
}
.map-address{
  .address-cont{
      background: #d2f2d7;
      min-height: 450px;
      display: grid;
      place-content: center;
      h4 {
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p{
        font-size: 18px;
      }
      a{
        color: #888;
      }
  }
  .map-cont{
    .curve-bg {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1;
    }
  }
}
//---------------------------------Free Quote
.free-quote{
  h2{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
  }
  .container {
    padding-bottom: 5em;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.sub-form{
  width: 60%;
  padding: 0 105px;
  @include media-breakpoint-down(md){
      width: 100%;
      padding: 0;
  }
  .form-group{
    &>input {
      padding: 14px;
      margin: 0 auto;
      display: block;
      border-radius: 4px;
      border: none;
    }
  }
}
form{
  .btn.btn-submit{
      width: 160px;
      background: #7fbf28;
      color:#fff;
      padding: 14px;
      min-height: 50px;
      font-size: 16px;
      margin: 0 auto;
      display: block;
      border-radius: 4px;
      &:hover{
          background: #3b3b3b;
      }
  }
}
//------------------------------------------- FAQs
.blue-accordion{
  .accordion-button{
      background-color: #4873b7;
      font-size: 18px;
    @include media-breakpoint-down(md){
        font-size: 16px;
        line-height: 21px;
    }
  }
  .accordion-body {
    border: 1px solid #0092d9;
    border-top: 0;
    p{
      margin-bottom: 0;
    }
  }
}

.theme-form {
  .form-control {
    display: block;
    width: 100%;
    height: 54px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 12px;
  }
  textarea{
    &.form-control {
      height: 105px;
    }
  }
  .btn-submit{
    margin-top: 15px !important;
    margin-left: 0 !important;
    @include media-breakpoint-down(md){
      margin-left: auto !important;
    }
  }
}

.page-template-page-contact{
  hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #6c6c6c;

    &.vertical-line {
      border-right: 2px solid #6c6c6c;
      height: 1340px;
      float: left;
      margin-top: -10px;
      margin-left: 32px;
      margin-right: 64px;
      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }
}
.gallery-container{
  .img-fluid{
    width: 100%;
    margin-bottom: 30px;
  }
}
.sticky-top{
  z-index: 10;
}
.myblog {
  .entry-content {
    .blog-title{
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: break-spaces;
      display: -webkit-box;
      height: 70px;
      overflow: hidden;
    }
    .btn-theme{
      display: block;
      width: 160px;
      background: #7fbf28;
      padding: 10px;
      margin-top: 16px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

// ---------- location-form

.gallery-form{
  display: flex;
  align-items: center;
  .gallery-form_inputs{
    flex-basis: 95%;
    margin-right: 10px;
    div{
      display: flex;
    }
  }
}
.right-full{
  overflow: hidden;
  .full-width{
    @media (min-width:1440px) {
      width: 125%;
    }
  }

}
.post-slider {
  .slick-slide {
    height: 370px;
    padding: 12px;
  }
  .slick-prev, .slick-next{
    top: calc(50% - 15px);
    width: auto;
  }
  &.single {
    .posts {
      margin: 0;
    }
  }
}

.posts{
  background: #fff;
  padding: 15px 10px 10px;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  margin: 0 30px;
  box-shadow: -1px 3px 8px 3px #dedede;
  overflow-y: auto;
  .img-box{
    max-width: 200px;
    float: left;
    margin-right: 15px;
  }

  .post_header{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    .header_text{
      display: flex;
      flex-direction: column;
      p{
          margin-bottom: 0;
      }
    }
    .title{
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
    }
    .by {
      font-size: 15px;
      font-weight: 500;
      color: #888;
    }
    .fa {
      font-size: 14px;
    }
    img {
      width: 45px;
      height: 45px;
    }
  }
  .text {
    min-height: 150px;
    font-size: 15px;
    width: calc(100% + 10px);
    padding-right: 10px;
  }

}
.lptw_recent_posts_thumbnails_widget{
  a.lptw-header-link{
    line-height: 1.2;
  }
}
